.App {
 text-align: center;
}

.App__form {
    padding: 20px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: #e9e9eb;
    width: 90%;
    margin: 20px;
}

.App__formControl {
    display: flex !important;
    flex-direction: row !important;
}

.App__input {
    flex: 1;
}

.App__iconButton {
    flex: 0;
}